name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - name: install dependencies
      run: sudo apt-get update && sudo apt-get install -y llvm clang lld
    - name: Echo environment
      run: uname -a && clang --version && which echo
    - name: make test
      run: make test -j $(nproc)
