name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-20.04
    # Below is adapted from: https://github.community/t/create-matrix-with-multiple-os-and-env-for-each-one/16895
    strategy:
        matrix:
          include:
            - os: ubuntu-18.04
            - os: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - name: install dependencies
      run: sudo apt-get update && sudo apt-get install -y llvm clang lld
    - name: Echo environment
      run: uname -a && clang --version && which echo
    - name: DEBUG=true USE_SANITIZER=true make test
      run: make test -j $(nproc)
